<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all requests to the root URL -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Exclude existing files and directories -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Rewrite to the root URL -->
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <!-- Serve static files and enable directory browsing -->
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>